body {
    
}

#app{
    display: flex;
    height: 100vh;
    min-width: 1024px;
    flex-direction: column;
}

main {
    flex: 1 1 100vh;
    overflow-y: scroll;
}

.brand-logo-img{
    position: absolute;
    right: 100%;
    height: 50%;
    margin: 15px 5px;
}

.brand-logo{
    margin-left: 85px;
    position: relative;
    left: 0 !important;
}

.btn i.fa{
    line-height: inherit;
}

#pageLoading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-weight: 100;
    justify-content: center;
}
#pageLoading h2{
    font-weight: 100;
}

.btn{
    padding: 0 1rem;
}

nav ul a.btn{
    margin-left: 5px;
    margin-right: 5px;
}

i.left{
    margin-right: 0;
}

.flight-time-input{
    width: 100px;
}
.flight-time-input input{
    text-align: center;
}
.flight-date-input{
    width: 100px;
}
.flight-date-input input {
    text-align: center;
}

/*.airplane-tr{*/
    /*position: relative;*/
    /*z-index: 100;*/
/*}*/
/*.airplane-choose-row{*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 100%;*/
    /*z-index: 200;*/
    /*opacity: 0;*/
/*}*/
/*.airplane-choose-row:hover{*/
    /*opacity: 1;*/
/*}*/
/*.airplane-choose-row button{*/
    /*margin: 0 auto;*/
/*}*/