<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/materialize.min.css">
    <link rel="stylesheet" href="css/vendor/material-icons.css">
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>AviaSim</title>
</head>

<body>

    <div id="pageLoading" class="valign-wrapper teal lighten-5 center-align">
        <div class="section">
            <h2>Подождите, идёт загрузка...</h2>
            <div class="row">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                        <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                        </div><div class="circle-clipper right">
                        <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                        <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                        </div><div class="circle-clipper right">
                        <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                        <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                        </div><div class="circle-clipper right">
                        <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                        <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                        </div><div class="circle-clipper right">
                        <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
    <div id="app">

        <header>
            <nav class="nav-extended teal darken-1">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo light"><img src="images/favicon.png" class="brand-logo-img">AviaSim</a>
                    <ul id="BaseGameData" class="right">
                        <li><a href="#"><i class="fa fa-rub left fa-lg fa-fw"></i> <span id="CurrentMoney">{{beautifulAnimatedBallane}}</span></a></li>
                        <li><a href="#"><i class="fa fa-clock-o left fa-lg fa-fw"></i> <span id="CurrentTime">{{time}}</span></a></li>
                        <li><a @click="timeX(1)" class="btn waves-effect waves-light" href="#"><i class="fa fa-play"></i> x1</a></li>
                        <li><a @click="timeX(5)" class="btn waves-effect waves-light" href="#"><i class="fa fa-forward"></i> x5</a></li>
                        <li><a @click="timeX(50)" class="btn waves-effect waves-light" href="#"><i class="fa fa-fast-forward"></i> x50</a></li>
                    </ul>
                </div>

                <div class="nav-content center-align teal">
                    <div>
                        <ul id="mainTabsMenu" class="tabs tabs-transparent">
                            <li class="tab"><a href="#shop"><i class="fa fa-shopping-basket fa-lg fa-fw"></i> Магазин</a></li>
                            <li class="tab"><a href="#shopOffers"><i class="fa fa-plane fa-lg fa-fw"></i> Мои самолёты</a></li>
                            <li class="tab"><a href="#availableFlights"><i class="fa fa-list-alt fa-lg fa-fw"></i> Доступные рейсы</a></li>
                            <li class="tab"><a href="#assignedFlights"><i class="fa fa-tasks fa-lg fa-fw"></i> Мои рейсы</a></li>
                            <li class="tab"><a href="#logMessages"><i class="fa fa-history fa-lg fa-fw"></i> История рейсов</a></li>
                            <li class="tab"><a href="#map"><i class="fa fa-globe fa-lg fa-fw"></i> Карта</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="teal lighten-5">
            <div class="">
                <div class="section">
                    <div class="row">
                        
                        <div id="shop" class="col s12">
                            <h4 class="light center">Магазин</h4>
                            <div class="divider"></div>
                            <table class="striped highlight white">
                                <thead>
                                <tr>
                                    <th>Имя</th><th>Вместимость</th><th>Max скор.</th><th>Max дист.</th><th>Ст. экспл.</th><th>Предложение</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="shopOffer in shop.offers">
                                    <td>
                                        <i v-if="shopOffer.airplane.qualification.airplaneType == ENUM.AirplaneType.Cargo" class="fa fa-cubes fa-lg"></i>
                                        <i v-if="shopOffer.airplane.qualification.airplaneType == ENUM.AirplaneType.Passenger" class="fa fa-users fa-lg"></i>
                                        {{shopOffer.airplane.name}}
                                    </td>
                                    <td>{{capacityWithSuffix(shopOffer.airplane.qualification)}}</td>
                                    <td>{{shopOffer.airplane.maximumSpeed}} км/ч</td>
                                    <td>{{shopOffer.airplane.qualification.maxFlightDistance}} км.</td>
                                    <td>{{shopOffer.airplane.serviceCostPerKm}} руб/км</td>
                                    <td>
                                        <button @click="shopMakeOfferClick(shopOffer)" :disabled="!shopOfferCanBeMade(shopOffer)" class="btn waves-effect waves-light" style="width: 100%">
                                            <i class="fa fa-cart-plus"></i> {{shopOfferInfo(shopOffer)}} {{shopOfferCostInfo(shopOffer)}}
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div id="shopOffers" class="col s12">
                            <h4 class="light center">Мои самолёты</h4>
                            <div class="divider"></div>
                            <div v-if="flightForAssigning != undefined" class="center-align section">
                                <button class="btn waves-effect waves-light" @click="assignAirplaneClick(null)">
                                    <i class="fa fa-undo"></i> Вернуться
                                </button>
                            </div>
                            <table v-if="shopOffers.length != 0" class="striped highlight white">
                                <thead>
                                <tr>
                                    <th>Имя</th><th>Вместимость</th><th>Max скор.</th><th>Max дист.</th><th>Ст. экспл.</th><th>Местоположение</th><th>Договор</th><th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(shopOffer, index) in shopOffers" class="airplane-tr">
                                    <td>
                                        <i v-if="shopOffer.airplane.qualification.airplaneType == ENUM.AirplaneType.Cargo" class="fa fa-cubes fa-lg"></i>
                                        <i v-if="shopOffer.airplane.qualification.airplaneType == ENUM.AirplaneType.Passenger" class="fa fa-users fa-lg"></i>
                                        {{shopOffer.airplane.name}}
                                    </td>
                                    <td>{{capacityWithSuffix(shopOffer.airplane.qualification)}}</td>
                                    <td>{{shopOffer.airplane.maximumSpeed}} км/ч</td>
                                    <td>{{shopOffer.airplane.qualification.maxFlightDistance}} км.</td>
                                    <td>{{shopOffer.airplane.serviceCostPerKm}} руб/км</td>
                                    <td>
                                        <span v-if="shopOffer.airplane.currentPosition != null">
                                            {{airports[shopOffer.airplane.currentPosition]}}<br>
                                            <select class="browser-default" v-model="emptyFlightTarget" @change="makeEmptyFlightClick(shopOffer)" style="width: 100%">
                                                <option :value="null">Перегнать</option>
                                                <option v-for="(airport, airportIndex) in airports" v-if="airportIndex != shopOffer.airplane.currentPosition" :value="airportIndex">
                                                    <span>{{airport}}</span>
                                                </option>
                                            </select>
                                        </span>
                                        <span v-else-if="shopOffer.airplane.currentFlight != null && shopOffer.airplane.currentFlight.GetProgress() != -1">
                                            {{airports[shopOffer.airplane.currentFlight.airportA]}}
                                            <i class="fa fa-long-arrow-right"></i>
                                            {{airports[shopOffer.airplane.currentFlight.airportB]}}
                                        </span>
                                        <span v-else>
                                            Свободное положение
                                        </span>
                                    </td>
                                    <td>{{shopOfferInfo(shopOffer)}}. {{shopOfferCostInfo(shopOffer)}}</td>
                                    <td>
                                        <div v-if="flightForAssigning == undefined">
                                            <button @click="shopBreakOfferClick(index)" :disable="!shopOfferCanBeBreaked(shopOffer)" class="btn waves-effect waves-light">
                                            <span v-if="shopOffer.offerType == ENUM.OfferType.Rent || shopOffer.offerType == ENUM.OfferType.Leasing">
                                                <i class="fa fa-undo"></i> Разорвать договор
                                            </span>
                                                <span v-if="shopOffer.offerType == ENUM.OfferType.Purchase">
                                                <i class="fa fa-cart-arrow-down"></i> Продать {{shopOfferCostInfo(shopOffer)}}
                                            </span>
                                            </button>
                                        </div>
                                        <div v-else @click="assignAirplaneClick(shopOffer)" class="valign-wrapper airplane-choose-row">
                                            <button class="btn waves-effect waves-light">
                                                Выбрать
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div v-else class="section white">
                                <h5 class="center-align light">
                                    <i class="fa fa-frown-o fa-3x"></i><br/><br/>
                                    У вас нет ни одного доступного самолёта...<br/><br/>
                                    Вы можете преобрести их в <a href="#" onclick="$('#mainTabsMenu').tabs('select_tab', 'shop')">магазине</a>.<br/><br/>
                                </h5>
                            </div>

                        </div>


                        <div id="availableFlights" class="col s12">
                            <h4 class="light center">Доступные рейсы</h4>
                            <div class="divider"></div>
                            <table v-if="availableFlights.length != 0" class="striped highlight white">
                                <thead>
                                <tr>
                                    <th>Откуда <i class="fa fa-long-arrow-right"></i> Куда</th><th>Рейс</th><th>Max нагр.</th><th>Дистанция</th><th>Неустойка</th><th>Доход</th><th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(flight, index) in availableFlights">
                                    <td>
                                        {{airports[flight.airportA]}}
                                        <i class="fa fa-long-arrow-right fa-lg"></i>
                                        {{airports[flight.airportB]}}
                                    </td>
                                    <td>
                                        <i v-if="flight.targetQualification.airplaneType == ENUM.AirplaneType.Cargo" class="fa fa-cubes fa-lg fa-fw"></i>
                                        <i v-if="flight.targetQualification.airplaneType == ENUM.AirplaneType.Passenger" class="fa fa-users fa-lg fa-fw"></i>
                                        <span v-if="flight.daysShift">
                                            <i class="fa fa-exchange fa-lg fa-fw"></i> Каждые {{flight.daysShift}} д.
                                        </span>
                                        <span v-else>
                                            <i class="fa fa-long-arrow-right fa-lg fa-fw"></i> Разовый
                                        </span>
                                    </td>
                                    <td>{{capacityWithSuffix(flight.targetQualification)}}</td>
                                    <td>{{flight.targetQualification.maxFlightDistance}} км</td>
                                    <td>{{flight.forfeit}} руб</td>
                                    <td>
                                        <div v-if="flight.targetQualification.airplaneType == ENUM.AirplaneType.Cargo">{{flight.profitability}} руб/рейс</div>
                                        <div v-if="flight.targetQualification.airplaneType == ENUM.AirplaneType.Passenger">{{flight.profitability}} руб/пасс</div>
                                    </td>
                                    <td>
                                        <button @click="takeFlightClick(index)" class="btn waves-effect waves-light" title="Взять рейс">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        <button @click="hideFlightClick(index)" class="btn waves-effect waves-light" title="Удалить из списка">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-else class="section white">
                                <h5 class="center-align light">
                                    <i class="fa fa-frown-o fa-3x"></i><br/><br/>
                                    Сейчас нет ни одного доступного рейса...<br/><br/>
                                    Новые рейсы генерируются один раз в игровой день.<br/><br/>
                                </h5>
                            </div>
                        </div>


                        <div id="assignedFlights" class="col s12">
                            <h4 class="light center">Мои рейсы</h4>
                            <div class="divider"></div>
                            <table v-if="assignedFlights.length != 0" class="striped highlight white">
                                <thead>
                                <tr>
                                    <th>Статус</th><th>Откуда <i class="fa fa-long-arrow-right fa-lg"></i> Куда</th><th>Рейс</th><th>Max нагр.<br/>Дистанция</th><th>Доход<br/>Неустойка</th><th>Время, День первого вылета</th><th>Самолёт</th><th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(flight, index) in assignedFlights">
                                    <td>
                                        <div class="progress">
                                            <div class="determinate" :style="'width:' + flightProgressUI(flight) + '%'"></div>
                                        </div>
                                    </td>
                                    <td>
                                        {{airports[flight.airportA]}}
                                        <i class="fa fa-long-arrow-right fa-lg"></i>
                                        {{airports[flight.airportB]}}
                                    </td>
                                    <td>
                                        <i v-if="flight.targetQualification.airplaneType == ENUM.AirplaneType.Cargo" class="fa fa-cubes fa-lg fa-fw"></i>
                                        <i v-if="flight.targetQualification.airplaneType == ENUM.AirplaneType.Passenger" class="fa fa-users fa-lg fa-fw"></i>
                                        <span v-if="flight.daysShift">
                                            <i class="fa fa-exchange fa-lg fa-fw"></i> Каждые {{flight.daysShift}} д.
                                        </span>
                                        <span v-else>
                                            <i class="fa fa-long-arrow-right fa-lg fa-fw"></i> Разовый
                                        </span>
                                    </td>
                                    <td>
                                        {{capacityWithSuffix(flight.targetQualification)}}<br>
                                        {{flight.targetQualification.maxFlightDistance}} км.
                                    </td>
                                    <td>
                                        <span v-if="flight.targetQualification.airplaneType == ENUM.AirplaneType.Cargo">{{flight.profitability}} руб/рейс</span>
                                        <span v-if="flight.targetQualification.airplaneType == ENUM.AirplaneType.Passenger">{{flight.profitability}} руб/пасс</span>
                                        <br>
                                        {{flight.forfeit}} руб.
                                    </td>
                                    <td v-if="flight.start != null" style="width: 225px;">
                                        {{flight.temporaryTime}} {{flight.temporaryDate}}
                                        <button @click="flightCancel(flight)" :disabled="flight.GetProgress() != -1" class="btn waves-effect waves-light" title="Отменить рейс">
                                            <i class="fa fa-ban"></i>
                                        </button>
                                    </td>
                                    <td v-else style="width: 225px;">
                                        <div class="input-field flight-time-input col s6">
                                            <select title="Время рейса" v-model="flight.temporaryTime" @change="flightTimeChanged(flight)" class="browser-default">
                                                <option value=""></option>
                                                <option>00:00</option>
                                                <option>01:00</option>
                                                <option>02:00</option>
                                                <option>03:00</option>
                                                <option>04:00</option>
                                                <option>05:00</option>
                                                <option>06:00</option>
                                                <option>07:00</option>
                                                <option>08:00</option>
                                                <option>09:00</option>
                                                <option>10:00</option>
                                                <option>11:00</option>
                                                <option>12:00</option>
                                                <option>13:00</option>
                                                <option>14:00</option>
                                                <option>15:00</option>
                                                <option>16:00</option>
                                                <option>17:00</option>
                                                <option>18:00</option>
                                                <option>19:00</option>
                                                <option>20:00</option>
                                                <option>21:00</option>
                                                <option>22:00</option>
                                                <option>23:00</option>
                                            </select>
                                        </div>
                                        <div class="input-field flight-date-input col s6">
                                            <!--<input type="date" class="datepicker" v-model="flight.temporaryDate" @input="updateDatePickerValue(flight, $event.target.value)" @change="flightTimeChanged(flight)">-->
                                            <datepicker v-model="flight.temporaryDate" @change="flightTimeChanged(flight)"></datepicker>
                                            <!--<input type="text" v-model="flight.temporaryDate" @change="flightTimeChanged(flight)">-->
                                        </div>
                                    </td>
                                    <td>
                                        <button @click="assignFlightClick(flight)" class="btn waves-effect waves-light" :disabled="flight.GetProgress() != -1">
                                            <span v-if="!flight.assignedPlane">
                                                Прикрепить
                                            </span>
                                            <span v-else>
                                                Открепить {{flight.assignedPlane.name}}
                                            </span>
                                        </button>
                                    </td>
                                    <td>
                                        <button @click="removeFlightClick(index)" class="btn waves-effect waves-light" title="Отказаться" :disabled="flight.GetProgress() != -1">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-else class="section white">
                                <h5 class="center-align light">
                                    <i class="fa fa-frown-o fa-3x"></i><br/><br/>
                                    У вас нет ни одного доступного к выполнению рейса...<br/><br/>
                                    Вы можете взять рейс на вкладке <a href="#" onclick="$('#mainTabsMenu').tabs('select_tab', 'availableFlights')"> доступных рейсов</a>.<br/><br/>
                                </h5>
                            </div>
                        </div>


                        <div id="logMessages" class="col s12">
                            <h4 class="light center">История рейсов</h4>
                            <div class="divider"></div>
                            <table v-if="logMessages.length != 0" class="striped highlight white">
                                <thead>
                                <tr>
                                    <th>Время</th><th>Изменение баланса</th><th>Текст</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(logMessage, index) in logMessages">
                                    <td>{{beautyTime(logMessage.date)}}</td>
                                    <td>{{logMessage.ballanceChange}}</td>
                                    <td>{{logMessage.text}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-else class="section white">
                                <h5 class="center-align light">
                                    <i class="fa fa-meh-o fa-3x"></i><br/><br/>
                                    Вы ещё не совершали никаких действий...<br/><br/>
                                    Здесь надо что-то делать...<br/><br/>
                                </h5>
                            </div>
                        </div>

                        <div id="map" class="col s12">
                            <h4 class="light center">Карта</h4>
                            <div class="divider"></div>
                            <div class="section white">
                                <h5 class="center-align light">
                                    <i class="fa fa-smile-o fa-3x"></i><br/><br/>
                                    Доступ к интерактивной игровой карте возможен только обладателям<br/>
                                    GOLD подписки...<br/><br/>
                                    Для оформления GOLD подписки свяжитесь с нами <br/>
                                    (контакты указаны в проекте, ссылка внизу страницы)<br/><br/>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer teal">
            <div class="footer-copyright teal darken-1">
                <div class="container">
                    © 2017 Copyright. <a class="blue-text text-lighten-4" href="https://gitlab.com/EightHands/AviaSim/blob/master/README.md">MIT License</a>
                    <a class="right blue-text text-lighten-4" href="https://gitlab.com/EightHands/AviaSim/tree/master"><i class="fa fa-gitlab"></i> Проект на GitLab</a>
                </div>
            </div>
        </footer>
    </div>

    <div id="modal1Lose" class="modal">
        <div class="modal-content">
            <h4>Упс, вы проиграли</h4>
            <p class="center-align"><i class="fa fa-frown-o fa-3x"></i></p>
            <p>К сожалению, у вас нет активных рейсов, которые могут принести вам прибыль, при этом у вас нет ни одного самолёта, а на получение новых у вас нет денег...</p>
        </div>
    </div>

    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/vendor/materialize.min.js"></script>
    <script src="js/vendor/vue.2.3.3.js"></script>
    <script src="js/vendor/tween.js"></script>
    <script src="js/vendor/ru_RU_for_datepicker.js"></script>
    <script src="js/Utilities.js"></script>
    <script src="js/GaussianDistribution.js"></script>
    <script src="js/ENUMs.js"></script>
    <script src="js/EventManager.js"></script>
    <script src="js/Transaction.js"></script>
    <script src="js/Qualification.js"></script>
    <script src="js/Airplane.js"></script>
    <script src="js/ShopOffer.js"></script>
    <script src="js/Shop.js"></script>
    <script src="js/LogMessage.js"></script>
    <script src="js/Flight.js"></script>
    <script src="js/data/ShopOffersData.js"></script>
    <script src="js/Game.js"></script>
    <script src="js/UI.js"></script>
</body>
</html>